{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>

    <html lang="en">

<body>
    <div class="container" id="container">
        <div class="form-container  sign-up-container">
            <form method="POST">
                {% csrf_token %}
                <div class="header">Sign Up</div>
                <div class="social__media__container">
                    <a href="#" target="_blank" class="social codepen">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="social google">
                        <i class="fa fa-google-plus-official" aria-hidden="true"></i>
                    </a>
                    <a href="#" target="_blank" class="social instagram">

                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
                <span class="under__social">
                    <a href="#" class="link signin-link">or use your email for registration
                    </a>
                </span>

                <div class="button-input-group">
                    <div class="group input-group">
                        <input type="text" placeholder="Name" name="name" required>
                    </div>
                    <div class="group input-group">
                        <input type="email" placeholder="Email" name="email" required>
                    </div>
                    <div class="group input-group">
                        <input type="password" placeholder="Password" name="password" required pattern=".{8,}">
                    </div>
                    <div class="alert-text signup__alert">
                        <span class="help__text">At least 8 character</span>
                    </div>
                    <div class="group button-group">
                        <button type="submit" class="signup-btn"  name='submit'  value='sign_up'>Sign Up</button>
                    </div>
                    <div class="log__in___adata">
                        <h5 class="" onclick="myFunction___ad()"> LogIn this web</h5>
                    </div>
                </div>

            </form>
        </div>

        <div class="form-container  sign-in-container" id="sign__in">
            <form method="POST">
            {% csrf_token %}
                <div class="header">Sign In</div>
                <div class="social__media__container">
                    <a href="#" target="_blank" class="social codepen">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="social google">
                        <i class="fa fa-google-plus-official" aria-hidden="true"></i>
                    </a>
                    <a href="#" target="_blank" class="social instagram">

                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
                <span class="under__social">
                    <a href="#" class="link signup-link">or use your account</a>
                </span>

                <div class="button-input-group">
                    <div class="group input-group">
                        <input type="email" placeholder="Email" name="email" required>
                    </div>
                    <div class="group input-group">
                        <input type="password" placeholder="Password" password="password" required pattern=".{8,}">
                    </div>
                    <div class="alert-text signup__alert">
                        <span class="help__text">At least 8 character</span>
                    </div>
                    <div class="form-link forgot">
                        <a href="{% url 'forgotpassword' %}" class="login-link">Forgot your password?</a>
                    </div>
                    <div class="group button-group">
                        <button type="submit" class="signin-btn"  name='submit'  value='sign_in'>Sign in</button>
                    </div>

                    <div class="log__in___adata">
                        <h5 class="" onclick="myFunction___hi()"> SignUp this web</h5>
                    </div>
                </div>
            </form>
        </div>

        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome</h1>
                    <p>Please login your personal info</p>

                    <div class="group button-group">
                        <button class="ghost" id="signIn">Sign in</button>
                    </div>
                    
                </div>

                <div class="overlay-panel overlay-right">
                    <h1>Welcome</h1>
                    <p>Enter your personal details</p>

                    <div class="group button-group">
                        <button class="ghost" id="signUp">Sign up</button>
                    </div>
                
                </div>
            </div>
        </div>

    </div>
</body>

</html>
    

    <script src="/static/js/login.js"></script>
</body>
</html>